.Timeline {
    display: flex;
    justify-content: center;
}

.Card {
    max-width: 616px;
    max-height: 815px;
    border: 1px solid #8e8e8e;
    margin: 5px 50px;
    margin-top: 30px;
    margin-bottom: 60px;
  }
  .Header-Card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
  }
  
  a.More {
    margin-right: 5px;
  }
  
  img.Img {
    max-width: 614px;
    max-height: 614px;
  }
  .info img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
  }
  .info img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
  }
  
  .Menu-Bar {
    display: flex;
    margin: 5px;
  }
  
  .Menu-Bar div {
    margin: 5px;
  }
  
  .Menu-Bar div:last-child {
    right: 0;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .Comment-z {
    margin: 0px 10px;
  }
  
  .Like-z {
    font-size: 15px;
  }
  
  .User {
    font-size: 14px;
  }
  .Time {
    font-size: 11px;
    color: #8e8e8e;
  }
  
  .Add-Comment input {
    width: 100%;
    border: none;
    padding: 10px 10px;
    outline: none;
  }
  
  .Add-Comment {
    border-top: 1px solid #8e8e8e;
  }
  

  .AddForm {
    margin-top: 80px;  
  }

  img.form__avatar {
    max-width: 32px;
    max-height: 32px;
    border: 1px solid #ffff;
    padding: 2px;
    border-radius: 50%;
  }

  .form__add {
    max-width: 616px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #e9ebee;
    padding: 25px 10px;
  }

  .form__content__add {
    display: flex;
  }

  input.form__input {
    padding: 3px;
    margin-left: 8px;
    border: none!important;
    outline: none;
    width: 100%;
  }
  
  .Post {
    visibility: hidden;
    opacity: 0;
  }

  .isAvailable {
    visibility: visible;
    opacity: 1;
  }

  .Post.isAvailable {
    position: absolute;
    width: 100%;
    height: 100%;
    /* display: flex; */
    /* justify-content: center; */
    top: 0;
  }

  .Post.isAvailable {
    background: azure;
    z-index: 4;
  }
  .bg-form {
    margin-top: 15%;
    z-index: 100;
  }

  .Exit {
    cursor: pointer;
    font-size: 500;
    font-stretch: 500;
    font-size: 20px;
    font-size: x-large;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 15px;
  }